section {
    height: 100vh;
    position: relative;
}

.parallax {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    z-index: 100;

    img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        pointer-events: none;
        object-fit: cover;

        &#hill2,
        &#hill3 {
            z-index: 2;
        }

        &#hill3 {
            &::after {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                display: inline-block;
                background-color: white;
            }
        }
    }
}

.title {
    background-color: #000000;
    position: relative;
    height: 50vh;
    display: flex;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10rem;

    h1 {
        position: absolute;
        color: white;
        z-index: 150;
        font-family: 'futura';
        font-weight: 200;
        font-size: 5rem;
        opacity: 0;
        top: 10rem;
        transition: opacity 0.5s ease-in-out;
        text-align: center;
    }
}

.card {
    --b: 4px; /* thickness of the border */
    --c: rgb(255, 255, 255); /* color of the border */
    --w: 20px; /* width of border */

    outline: var(--b) solid #0000; /* space for the border */
    --_g: #0000 90deg, var(--c) 0;
    --_p: var(--w) var(--w) border-box no-repeat;
    background:
        conic-gradient(from 90deg at top var(--b) left var(--b), var(--_g)) 0 0 /
            var(--_p),
        conic-gradient(from 180deg at top var(--b) right var(--b), var(--_g))
            100% 0 / var(--_p),
        conic-gradient(from 0deg at bottom var(--b) left var(--b), var(--_g)) 0
            100% / var(--_p),
        conic-gradient(from -90deg at bottom var(--b) right var(--b), var(--_g))
            100% 100% / var(--_p);

    margin: 10% 10%;
    position: relative;
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.5rem 2rem;
    z-index: 150;
    animation: scale 2s infinite ease-in-out;

    @keyframes scale {
        0% {
            --b: 4px; /* thickness of the border */
        }

        50% {
            --b: 1px; /* thickness of the border */
        }

        100% {
            --b: 4px; /* thickness of the border */
        }
    }
}

.ultimate-trip {
    top: -120vh;

    &.none {
        opacity: 0;

        transition: 1s ease-in-out;
        transition-delay: 2s;

        &.show {
            opacity: 1;
        }
    }

    h2 {
        width: 60vw;
        align-self: flex-start;
    }

    p {
        color: white;
        font-weight: 100;
        letter-spacing: 0.15rem;
        width: 60vw;
        align-self: flex-start;
    }

    #quiz-container {
        margin-top: 20px;
    }

    #options {
        margin-top: 10px;
    }

    #result {
        display: none;
        margin-top: 20px;
        font-weight: bold;
    }

    .correct {
        background-color: green;
        color: white;
    }

    .wrong {
        background-color: red;
        color: white;
    }
}

.picture-phone {
    position: relative;
    top: -100vh;

    .pictures {
        display: flex;
        justify-content: center;

        img {
            max-height: 100vh;
        }

        // #aiImage {
        //     position: relative;

        //     &::before {
        //         content: '';
        //         display: block;
        //         position: absolute;
        //         background-image: linear-gradient(
        //             to right,
        //             transparent 0%,
        //             black 100%
        //         );
        //         height: 100vh;
        //         width: 10%;
        //         z-index: 1000;
        //         right: 0;
        //     }
        // }

        // #aiImageOverlay {
        //     z-index: 100;
        //     position: absolute;
        //     animation: image-glow 5s infinite ease-in-out;
        // }

        #aiImageScreen {
            z-index: 150;
            position: absolute;
            animation: image-glow 2s infinite ease-in-out;
            cursor: pointer;
        }

        @keyframes image-glow {
            0% {
                filter: drop-shadow(-10px 5px 30px #abe2ff);
            }

            50% {
                filter: drop-shadow(-10px 0px 15px #abe2ff);
            }

            100% {
                filter: drop-shadow(-10px 5px 30px #abe2ff);
            }
        }
    }
}

.space {
    position: relative;
    z-index: 1000;
    height: 100vh;
    width: 100vw;
    top: -100vh;
    display: flex;
    justify-content: center;

    h2 {
        position: absolute;
        top: -70vh;
        font-size: 4rem;
        font-family: 'gillsans';
        font-weight: 100;
    }
    > p {
        position: absolute;
        top: -60vh;
    }

    .scroll-info {
        position: absolute;
        opacity: 0;
        max-width: 19rem;
        top: -16vh;
        text-align: center;

        p {
            margin: 1rem 0;
            color: black;
            font-weight: 300;
        }
    }
}
