.webgl,
.shuttle {
    position: relative;
    left: 0;
    z-index: 100;
    height: 100vh;
}

.shuttle {
    top: -30vh;
}

.loading {
    position: relative;
    left: 0;
    z-index: 100;
    height: 100vh;
}
